* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 247, 247);
}
ul {
    list-style: none;
    
}



.menu-container {
    flex-basis: 500px;
    color: beige;
    font-weight: bolder;
    flex-direction: row;
    flex-grow: 1;
    align-self: center;
    
}

.menu-container ul {
    display: flex;
    justify-content: space-around;

}



.logo-container {
    flex-basis: 268px;
    display: flex;
}

.header-container {
    background-color: #5C687C;
    display: flex;
}

header {
    flex-direction:  row-reverse;
    justify-content: flex-end;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-container {
    display: flex;
    flex-direction: column;
    flex-grow: 10; /* para expandir os filmes*/ 
  }
  
  .movie-container h2 {
    margin: 40px 0;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 700px; /*base do container pai*/
  }
  
  .card-container div {
    align-items: center;
    background-color: #5C687C;
    border: black solid 1px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 10px;
    flex-basis: 16%; /*base do filho com o % sobre os 700px*/
    flex-grow: 1; /*preenchimento do espaço vazio */
  }
  
  .aside-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-basis: 350px;
    align-self: center; /* para centralizar o item no meio da tela*/
    flex-grow: 1;
    
  }
  
  .aside-container h3, h4 {
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    display: flex;
  }
  
  .aside-container p {
    margin: 10px 0;
    text-align: justify;
  }
