body {
  margin: 0;
  background-color: #303030;
  color: white;
  text-align: center;
}

ul {
  list-style: none;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 40px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px
}

.color-display {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}